// bower:scss
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

.navbar {
    border-radius: 0px !important;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
body {
    margin: 0px;
    padding: 0px;
}
.no-list-style{
    list-style: none;
}
.row-custom {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px;
    border-bottom-color: #cdc9c9;
    min-height: 4vh;
}

.row-header-top {
    border-top: solid 1px;
    border-top-color: #cdc9c9;
    font-weight: bold;
    font-size: 14px;
    line-height: 3vh;
    background-color: #F5F5F5;
    padding: 10px 0;
}
.row-header-bottom {
    border-bottom: solid 2px;
    border-bottom-color: #cdc9c9;
    background-color: #F5F5F5;
}
.row-header-top-with-bottom{
    border-bottom: solid 2px;
    border-bottom-color: #cdc9c9;
    background-color: #F5F5F5;
    border-top: solid 1px;
    border-top-color: #cdc9c9;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px 0px;
    line-height: 3vh;
}
.label-muted {
    color: #fff !important;
    background-color: #777;
}
.btn-muted {
    color: #fff !important;
    background-color: #999;
}
.btn-muted:hover {
    color: #fff !important;
    background-color: #777;
}
.row-form{
    padding-bottom: 4px;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
#building-list-button-add{
    margin-top: 10px;
}
.row-date-time-pick{
    margin-top: 33px;
}
.clickable{
    cursor: pointer;
}
.fc-bg{
    cursor: pointer;
}