<div class="modal-header">
    <span translate-once="room-keeper-modals.label.clear">Remove keeper from </span>{{room.name}} 
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-4" translate-once="room-keeper-modals.label.firstName">First name</div>
        <div class="col-xs-8">{{room.keeper.firstName}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4" translate-once="room-keeper-modals.label.lastName">Last name</div>
        <div class="col-xs-8">{{room.keeper.lastName}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4" translate-once="room-keeper-modals.label.user">Login</div>
        <div class="col-xs-8">{{room.keeper.login}}</div>
    </div>
</div>
<div class="modal-footer">
    <button id="room-mark-as-usable-button-confirm" class="btn btn-success" type="submit" ng-click="save()"
            translate-once="room-keeper-modals.button.clear"> Yes</button>
    <button id="room-mark-as-usable-button-cancel" class="btn btn-danger" type="reset" ng-click="$dismiss()"
            translate-once="room-keeper-modals.button.cancel"> No</button>
</div>