<div class="row">
    <div class="col-sm-8">

        <h3 translate-once="room-list.label.rooms">
            Rooms

        </h3>
    </div>
    <div class="col-sm-4 col-md-2 col-md-offset-2">
        <button class="btn btn-success btn-lg pull-right list-header-button" ng-click="addRoom()">
            <i class="fa fa-plus-circle"></i>&nbsp;
            Add Room
        </button>
    </div>
</div>
<div class="row" ng-if="!rooms.length">   
    <div class="col-xs-6 col-xs-offset-3 alert alert-warning text-center" translate-once="room-list.label.no-rooms" >
        There aren't any defined rooms.
    </div>
</div>

<div ng-if="rooms.length">
    <div class="row row-header-top-with-bottom">
        <div class="col-xs-1" translate-once="room-list.fitler.name">Name</div>
        <div class="col-xs-2" translate-once="room-list.fitler.administrator">Administrator</div>
        <div class="col-xs-1 text-center" translate-once="room-list.fitler.type">Type</div>
        <div class="col-xs-1 text-center" translate-once="room-list.fitler.floor">Floor</div>
        <div class="col-xs-1 text-center" translate-once="room-list.fitler.seatsCount">Count of seats</div>
        <div class="col-xs-2 text-center" translate-once="room-list.fitler.computerStationCount">Count of computer stations</div>
        <div class="col-xs-1 text-center" translate-once="room-list.fitler.projector">Projector</div>
        <div class="col-xs-1 text-center" translate-once="room-list.fitler.blackboard">Blackboard</div>
        <div class="col-xs-1 text-center" translate-once="room-list.fitler.usability">Usability</div>
        <div class="col-xs-1 text-center" translate-once="room-list.fitler.manage" has-authority="ADMIN">Manage</div>
    </div>
    <div class="row row-custom" ng-repeat="room in rooms">
        <div class="col-xs-1">
            <a ui-sref="room.reservations({id: {{room.id}}})">
                {{room.name}}
            </a>
        </div>
        <div class="col-xs-2">Opiekun</div>
        <div class="col-xs-1 text-center">
            <div ng-switch="room.roomType">
                <span ng-switch-when="LECTURE_HALL" translate-once="room-list.label.roomType.auditory">Lecture hall</span>
                <span ng-switch-when="LABORATORY" translate-once="room-list.label.roomType.laboratory">Laboratory</span>
            </div>
        </div>
        <div class="col-xs-1 text-center">{{room.floor}}</div>
        <div class="col-xs-1 text-center">{{room.seatsCount}}</div>
        <div class="col-xs-2 text-center">{{room.computerStationsCount}}</div>
        <div class="col-xs-1 text-center"><i class="fa" ng-class="{'fa-check text-success': room.hasProjector, 'fa-times text-danger': !room.hasProjector}"></i></div>
        <div class="col-xs-1 text-center"><i class="fa" ng-class="{'fa-check text-success': room.hasBlackboard, 'fa-times text-danger': !room.hasBlackboard}"></i></div>
        <div class="col-xs-1 text-center"><i class="fa" ng-class="{'fa-check text-success': room.isUsable, 'fa-times text-danger': !room.isUsable}"></i></div>
        <div class="col-xs-1 text-center" has-authority="ADMIN">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-2x fa-cog"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="openEditRoomModal( room )"><i class="fa fa-pencil"></i> Edit</a></li>
                <li>
                    <a href="" ng-click="changeRoomUsability( room )">
                        <i class="fa fa-power-off"></i> 
                        <span ng-if="room.isUsable">Mark as not usable</span>
                        <span ng-if="!room.isUsable">Mark as usable</span>
                    </a>
                </li>
            </ul></div>
    </div>
</div>