<h3>
    {{building.name}} building 
</h3>
<div class="row">
    <div class="col-xs-5">
        <h4>
            Reservations for rooms is {{building.name}} building
        </h4>
    </div>
    <div class="col-xs-2 col-xs-offset-5">
        <a ui-sref="building.details ({id: building.id})" class="btn btn-info btn-block pull-right"><i class="fa fa-list-alt"> Details</i></a>
    </div>
</div>
<div class="panel">
    <div class="panel-body">
        <div ui-calendar="calendar.config.buildingCalendar" ng-model="reservations" calendar="buildingCalendar"></div>
    </div>
</div>