<div class="modal-header">
    <div class="modal-title" translate-once="account-change-password-modal.label.page-title">
        Change Password
    </div>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" name="changePasswordForm">
        <div class="row-form">
            <input type="password"
                   class="form-control"
                   name="password"    
                   translate=""
                   translate-attr-placeholder="account-change-password-modal.label.password"
                   ng-model="password"
                   ng-model-options="{ debounce: 250 }"
                   required
                   ng-minlength="constraints.passwordMin"
                   ng-maxlength="constraints.passwordMax">

            <p class="text-danger" ng-show="changePasswordForm.$dirty && changePasswordForm.password.$error.minlength"
               translate="account-change-password-modal.label.password.tooShort"
               translate-values="{min: {{constraints.passwordMin}}}">
                Password too short. It has to be at least {{constraints.passwordMin}} characters long
            </p>
            <p class="text-danger" ng-show="changePasswordForm.$dirty && changePasswordForm.password.$error.maxlength"
               translate="account-change-password-modal.label.password.tooLong"
               translate-values="{max: {{constraints.passwordMax}}}">
                Password too long. It can contain maximum {{constraints.passwordMax}} characters
            </p>
            <p class="text-danger" ng-show="changePasswordForm.$dirty && changePasswordForm.password.$error.required"
               translate-once="account-change-password-modal.label.password.required">
                Password is required
            </p>
        </div>
        <div class="row-form">
            <input type="password"
                   class="form-control"
                   name="confirmPassword"
                   translate=""
                   translate-attr-placeholder="account-change-password-modal.label.password.confirm"
                   ng-model="confirmPassword"
                   ng-model-options="{ debounce: 250 }"
                   required>

            <p class="text-danger" ng-show="submitted && password !== confirmPassword" translate-once="account-change-password-modal.label.password.do-not-match">
                Passwords don't match
            </p>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button id="accout-change-password-modal-button-save" class="btn btn-success" type="submit" ng-click="changePassword();" ng-disabled="changePasswordForm.$invalid">
        <i class="fa fa-save"></i> <span translate-once="account-change-password-modal.button.save">Save</span>
    </button>
    <button id="accout-change-password-modal-button-cancel" class="btn btn-danger" type="button" ng-click="$dismiss()">
        <i class="fa fa-times"></i> <span translate-once="account-change-password-modal.button.cancel">Cancel</span>
    </button>
</div>