<div class="modal-header">
    <div class="modal-title" translate-once="account-edit-modal.label.page-title">
        Change account details
    </div>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" name="editAccountForm">
        <div class="row row-form">
            <div class="col-xs-4 control-label">
                <label translate-once="account-edit-modal.label.login">Login</label>
            </div>
            <div class="col-xs-8">
                <input type="text"
                       class="form-control"
                       name="login"
                       translate=""
                       translate-attr-placeholder="account-edit-modal.label.login"
                       ng-model="account.login"
                       ng-model-options="{ debounce: 250 }"
                       required
                       ng-minlength="constraints.loginMin"
                       ng-maxlength="constraints.loginMax"
                       ng-pattern="constraints.loginPattern"
                       autofocus>

                <p class="text-danger" ng-show="editAccountForm.login.$dirty && editAccountForm.login.$error.minlength"
                   translate="account-edit-modal.label.login.tooShort"
                   translate-values="{min: {{constraints.loginMin}}}">
                    Login too short. It has to be at least {{constraints.loginMin}} characters long
                </p>
                <p class="text-danger" ng-show="editAccountForm.login.$dirty && editAccountForm.login.$error.maxlength"
                   translate="account-edit-modal.label.login.tooLong"
                   translate-values="{max: {{constraints.loginMax}}}">
                    Login too long. It can contain maximum {{constraints.loginMax}} characters
                </p>
                <p class="text-danger" ng-show="editAccountForm.login.$dirty && editAccountForm.login.$error.pattern"
                   translate-once="account-edit-modal.label.login.pattern">
                    Login contains invalid characters
                </p>
                <p class="text-danger" ng-show="editAccountForm.login.$dirty && editAccountForm.login.$error.required"
                   translate-once="account-edit-modal.label.login.required">
                    Login is required
                </p>
                <p class="text-danger" ng-show="errors['loginAlreadyInUse']"
                   translate-once="account-edit-modal.label.login.already-in-use">
                    Login is already in use
                </p>
            </div>
        </div>
        <div class="row row-form">
            <div class="col-xs-4 control-label">
                <label translate-once="account-edit-modal.label.first-name">First name</label>
            </div>
            <div class="col-xs-8">
                <input type="text"
                       class="form-control"
                       name="firstName"
                       translate=""
                       translate-attr-placeholder="account-edit-modal.label.first-name"
                       ng-model="account.firstName"
                       ng-model-options="{ debounce: 250 }"
                       required
                       ng-maxlength="constraints.firstNameMax">
                <p class="text-danger" ng-show="editAccountForm.firstName.$dirty && editAccountForm.firstName.$error.maxlength"
                   translate="account-edit-modal.label.first-name.tooLong"
                   translate-values="{max: {{constraints.firstNameMax}}}">
                    First name too long. It can contain maximum 25 characters
                </p>
                <p class="text-danger" ng-show="editAccountForm.firstName.$dirty && editAccountForm.firstName.$error.required"
                   translate-once="account-edit-modal.label.first-name.required">
                    First name is required
                </p>
            </div>
        </div>
        <div class="row row-form">
            <div class="col-xs-4 control-label">
                <label translate-once="account-edit-modal.label.last-name">Last name</label>
            </div>
            <div class="col-xs-8">
                <input type="text"
                       class="form-control"
                       name="lastName"
                       translate=""
                       translate-attr-placeholder="account-edit-modal.label.last-name"
                       ng-model="account.lastName"
                       ng-model-options="{ debounce: 250 }"
                       required
                       ng-maxlength="constraints.lastNameMax">
                <p class="text-danger" ng-show="editAccountForm.lastName.$dirty && editAccountForm.lastName.$error.maxlength"
                   translate="account-edit-modal.label.last-name.tooLong"
                   translate-values="{max: {{constraints.lastNameMax}}}">
                    Last name too long. It can contain maximum 50 characters
                </p>
                <p class="text-danger" ng-show="editAccountForm.lastName.$dirty && editAccountForm.lastName.$error.required"
                   translate-once="account-edit-modal.label.last-name.requried">
                    Last name is required
                </p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="accout-edit-modal-button-save" class="btn btn-success" type="submit" ng-click="save();" ng-disabled="editAccountForm.$invalid">
        <i class="fa fa-save"></i> <span translate-once="account-edit-modal.button.save">Save</span>
    </button>
    <button id="accout-edit-modal-button-cancel" class="btn btn-danger" type="button" ng-click="$dismiss()">
        <i class="fa fa-times"></i> <span translate-once="account-edit-modal.button.cancel">Cancel</span>
    </button>
</div>