<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign up </h1>
            <div class="account-wall">
                <img class="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
                     alt="">
                <div class="alert alert-danger" ng-show="errors.usernameAlreadyExists">
                    User with that username already exists
                </div>
                <form class="form-signin" name="registerForm" ng-submit="register( $event )" novalidate>
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="text"
                           class="form-control"
                           name="username"
                           placeholder="Username"
                           ng-model="username"
                           ng-model-options="{ debounce: 250 }"
                           required
                           ng-minlength="constraints.loginMin"
                           ng-maxlength="constraints.loginMax"
                           ng-pattern="constraints.loginPattern"
                           autofocus>

                    <p class="text-danger" ng-show="submitted && registerForm.username.$error.minlength">
                        Username too short. It has to be at least 3 characters long
                    </p>
                    <p class="text-danger" ng-show="submitted && registerForm.username.$error.maxlength">
                        Username too long. It can contain maximum 20 characters
                    </p>
                    <p class="text-danger" ng-show="submitted && registerForm.username.$error.pattern">
                        Username contains invalid characters
                    </p>
                    <p class="text-danger" ng-show="submitted && registerForm.username.$error.required">
                        Username is required
                    </p>
                    <p class="text-danger" ng-show="errors['loginAlreadyInUse']">
                        Username is already in use
                    </p>

                    <input type="password"
                           class="form-control"
                           name="password"
                           placeholder="Password"
                           ng-model="password"
                           ng-model-options="{ debounce: 250 }"
                           required
                           ng-minlength="constraints.passwordMin"
                           ng-maxlength="constraints.passwordMax">

                    <p class="text-danger" ng-show="submitted && registerForm.password.$error.minlength">
                        Password too short. It has to be at least 3 characters long
                    </p>
                    <p class="text-danger" ng-show="submitted && registerForm.password.$error.maxlength">
                        Password too long. It can contain maximum 20 characters
                    </p>
                    <p class="text-danger" ng-show="submitted && registerForm.password.$error.required">
                        Password is required
                    </p>

                    <input type="password"
                           class="form-control"
                           name="confirmPassword"
                           placeholder="Confirm password"
                           ng-model="confirmPassword"
                           ng-model-options="{ debounce: 250 }"
                           required>

                    <p class="text-danger" ng-show="submitted && password !== confirmPassword">
                        Passwords don't match
                    </p>
                    <br/>
                    <input type="text"
                           class="form-control"
                           name="firstName"
                           placeholder="First Name"
                           ng-model="firstName"
                           ng-model-options="{ debounce: 250 }"
                           required
                           ng-maxlength="constraints.firstNameMax">

                    <p class="text-danger" ng-show="submitted && registerForm.firstName.$error.maxlength">
                        First name too long. It can contain maximum 25 characters
                    </p>
                    <p class="text-danger" ng-show="submitted && registerForm.firstName.$error.required">
                        First name is required
                    </p>

                    <input type="text"
                           class="form-control"
                           name="lastName"
                           placeholder="Last Name"
                           ng-model="lastName"
                           ng-model-options="{ debounce: 250 }"
                           required
                           ng-maxlength="constraints.lastNameMax">
                    <p class="text-danger" ng-show="submitted && registerForm.lastName.$error.maxlength">
                        Last name too long. It can contain maximum 50 characters
                    </p>
                    <p class="text-danger" ng-show="submitted && registerForm.lastName.$error.required">
                        Last name is required
                    </p>

                    <button class="btn btn-lg btn-primary btn-block btn-signin"
                            type="submit">
                        Sign up
                    </button>
                </form>
            </div>
            <a class="text-center new-account" ui-sref="login">Sign in to existing account</a>
        </div>
    </div>
</div>