<div class="modal-header">
    <h3 class="modal-title">
        <span translate-once="reservation-edit-modal.label.page-title">Reservation for room</span> {{room.name}}
    </h3>
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="clickable text-center" ng-class="{'active': tab === 'EDIT'}">
            <a href="" ng-click="tab = 'EDIT'" translate-once="reservation-edit-modal.label.tab.edit">                        
                Edit reservation
            </a>
        </li>
        <li role="presentation"class="clickable text-center"  ng-class="{'active': tab === 'CANCEL'}">
            <a href="" ng-click="tab = 'CANCEL'" translate-once="reservation-edit-modal.label.tab.cancel">                        
                Cancel reservation
            </a>
        </li>
    </ul>
</div>
<div class="modal-body">
    <div ng-show="tab === 'EDIT'">
        <form class="form-horizontal" role="form" name="reservationAddForm">
            <div class="row row-eq-height">
                <div class="col-xs-3 control-label row-date-time-pick" translate-once="reservation-edit-modal.label.reservation.starts">
                    Resevation start
                </div>
                <div class="col-xs-4 row-date-time-pick">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="startDate" ng-change="validateForm()" is-open="startDatePickerOpen" min-date="today" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openStartDatePicker()"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-xs-4">
                    <uib-timepicker ng-model="startTime" ng-change="validateForm()" hour-step="1" minute-step="5" show-meridian="ismeridian"></uib-timepicker>
                </div>            
            </div>
            <div class="row row-eq-height">
                <div class="col-xs-3 control-label row-date-time-pick" translate-once="reservation-edit-modal.label.reservation.ends">
                    Resevation end
                </div>
                <div class="col-xs-4 row-date-time-pick">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="endDate" ng-change="validateForm()" is-open="endDatePickerOpen" min-date="today" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEndDatePicker()"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-xs-4">
                    <uib-timepicker ng-model="endTime" ng-change="validateForm()" hour-step="1" minute-step="5" show-meridian="ismeridian"></uib-timepicker>
                </div>
            </div>
            <div class="row row-form">
                <div class="col-xs-9 col-xs-offset-3 text-danger" ng-if="incorrectDates" translate-once="reservation-edit-modal.label.reservation.ends-before-starts">
                    Reservation start must be before it's end.
                </div> 
            </div> 
        </form>
    </div>
    <div ng-show="tab === 'CANCEL'">
        <h4 class="text-center">
            <span translate-once='reservation-edit-modal.label.cancel.confirm.first-part'></span><!--
            -->{{room.name}}<br/>
            <span translate-once='reservation-edit-modal.label.cancel.confirm.second-part'></span><!--
            -->{{start}}<!--
            --><span translate-once='reservation-edit-modal.label.cancel.confirm.third-part'></span><!--
            -->{{end}}?                    
        </h4>
        <br/>
        <div class="alert alert-warning">
            <div class="text-center">
                <i class="fa fa-exclamation-triangle"></i> <span translate-once="reservation-edit-modal.label.cancel.warn">This action cannot be undone!</span>
            </div>
        </div>
    </div>
</div>        

<div class="modal-footer">
    <button id="accout-edit-modal-button-save" class="btn btn-success" type="submit" ng-click="save();" ng-disabled="!formIsCorrect || (reservationAddForm.$pristine && tab === 'EDIT')">
        <span ng-show="tab === 'EDIT'"><i class="fa fa-save"></i> <span translate-once="reservation-edit-modal.button.confirm.save">Save changes</span></span>
        <span ng-show="tab === 'CANCEL'" ><i class="fa fa-check"></i> <span translate-once="reservation-edit-modal.button.confirm.yes">Yes</span></span>
    </button>
    <button id="accout-edit-modal-button-cancel" class="btn btn-danger" type="button" ng-click="$dismiss()">
        <i class="fa fa-times"></i>&nbsp;<!--
        --><span ng-show="tab === 'EDIT'"><span translate-once="reservation-edit-modal.button.cancel">Cancel</span></span><!--
        --><span ng-show="tab === 'CANCEL'"><span translate-once="reservation-edit-modal.button.cancel.no">No</span></span>
    </button>
</div>